biopython
streamlit
langchain
langchain-community
langchain-core
langchain-mistralai
langchain-huggingface
langchain-qdrant
qdrant-client
python-dotenv
sentence-transformers
plotly
audio-recorder-streamlit
SpeechRecognition
fpdf2